*{
  box-sizing:border-box;
  font-family: 'Spectral', serif;
  color:rgb(35, 48, 65);
  scroll-behavior:smooth;
}

header {
  position:fixed;
  left:0;
  top:0; 
  width:100%;

  display:flex;
  align-items:center;
  justify-content:space-between;

  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;}

header.sticky {
  padding: 5px 100px;
  background-image:linear-gradient(rgb(255, 255, 255),rgb(240, 245, 248));}

.navbar_title {
  color:rgb(63, 70, 75);
  font-size: 1.8rem;
  font-weight:585;
  transition:0.6s;}

.navbar_nav {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;}

.navbar_link {
  position:relative;
  list-style:none;
  margin:0 10px;}

.navbar_link a {
  position: relative;
  color:rgb(63, 70, 75);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration:none;
  transition:0.6s}

  /* Links on mouse-over */
.navbar_link a:hover {
    background-color: rgb(142, 171, 196);
    color: rgb(255, 255, 255);}


section{

  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom:5%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:rgb(44, 48, 51);
}


.home_sec {
  width: 100%;
  height: 100%;
  min-height: 50rem;
  padding: 0;
  background: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.home_sec h1 {
  font-size: calc(1.6rem + 3vw);
}

h1 {
  font-size: calc(1.1rem + 0.9vw);
}
.product_sec {
  padding-top: 10rem;
  background: white;}
  
.produc_sec p {
  margin-bottom: 5rem;
}

h2{
  font-size:1.7rem;
}
p{
  font-size:1.4rem;
}
li{
  list-style:disc;
}
  
#home{
  padding-top:140px;}

.main_container {
  max-width: 1000%;
  overflow: auto;
  padding: auto;
  margin: auto;}

.steps_container {
  display: grid;
  grid-template-columns:1fr 1fr;}

.member_cont{
    display: grid;
    grid-template-columns:repeat(5, 1fr);}
.member_cont h3 {
  font-size:calc(1rem + 0.35vw);
  }
.member_cont li {
  font-size:calc(1rem + 0.3vw);
}
.member_cont p {
  font-size:calc(1rem + 0.3vw);
}
footer {
  height:40px;
  background-image:linear-gradient(rgb(240, 245, 248),rgb(255, 255, 255));
  height:3rem;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom h4 {
  color:rgb(141, 147, 153);
}

.photo-gallery{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.pic{
  height: 230px;
  
}

.pic img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}