*{
  box-sizing:border-box;
  font-family: 'Spectral', serif;
  scroll-behavior:smooth;
}

nav {
  background-color:white;
  background-repeat:no-repeat;
  background-size:100% 70%;

  position:fixed;
  left:0;
  top:0;
  height:5rem;
  width:100%}

.navbar {
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:90%;
  width:90%;
  margin:auto;}

.navbar_title {
  color:rgb(44, 48, 51);
  font-size: 1.8rem;
  font-weight:555;}

.navbar_nav {
  display:flex;}

.navbar_link {
  list-style:none;
  margin:0 10px;}

.navbar_link a {
  color:rgb(44, 48, 51);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration:none;}

  /* Links on mouse-over */
.navbar_link a:hover {
    background-color: rgb(127, 173, 210);
    color: rgb(255, 255, 255);}

section{

  padding-right: 12%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom:5%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:rgb(44, 48, 51);
}


.home_sec {
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_sec h1 {
  font-size: calc(1.5rem + 2vw);
}

h1 {
  font-size: calc(1.1rem + 0.9vw);
}
.product_sec {
  padding-top: 10rem;
  background: white;}
  
.produc_sec p {
  margin-bottom: 5rem;
}

h2{
  font-size:1.7rem;
}
p{
  font-size:1.4rem;
}
li{
  list-style:disc;
}
  
#home{
  padding-top:140px;}

.main_container {
  max-width: 1000%;
  overflow: auto;
  padding: auto;
  margin: auto;}

.product_sec .main_container{
  display: grid;
  grid-template-columns: 1fr 1fr;}

.steps_container {
  display: grid;
  grid-template-columns:1fr 1fr;}

.member_cont{
    display: grid;
    grid-template-columns:repeat(5, 1fr);}

footer{
  height:40px;
  background-image:linear-gradient(to bottom right, rgb(255, 255, 255), rgb(218, 224, 226));
  background-size:auto;
  color:rgb(44, 48, 51);
  text-align: center;}
